<a href="https://colab.research.google.com/github/TheresiaTriOktavia/PDT/blob/main/Colab/UTS_PDT_(AB).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Kelompok :

Anggota :
- Annisa Citra Pratiwi (2217051008)
- Atikah Oktaria (2217051035)
- Nazwa Sophia Nadine Effendi (22170510
- Theresia Tri Oktavia I (2217051111)

# No 1

Data .csv

In [ ]:
import pandas as pd
import numpy as np

# Load Data .csv
url = "https://raw.githubusercontent.com/TheresiaTriOktavia/PDT/main/supermarket_sales.csv"
df1 = pd.read_csv(url)
df1

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [ ]:
# Melihat informasi data (adakah data yang null dan tipe data pada tiap kolom)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [ ]:
# Menghapus kolom non numerik
df_clean1 = df1.drop(["Invoice ID", "Branch", "City", "Customer type", "Gender", "Product line", "Date", "Time", "Payment"], axis=1)
df_clean1

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
0,74.69,7,26.1415,548.9715,522.83,4.761905,26.1415,9.1
1,15.28,5,3.8200,80.2200,76.40,4.761905,3.8200,9.6
2,46.33,7,16.2155,340.5255,324.31,4.761905,16.2155,7.4
3,58.22,8,23.2880,489.0480,465.76,4.761905,23.2880,8.4
4,86.31,7,30.2085,634.3785,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...
995,40.35,1,2.0175,42.3675,40.35,4.761905,2.0175,6.2
996,97.38,10,48.6900,1022.4900,973.80,4.761905,48.6900,4.4
997,31.84,1,1.5920,33.4320,31.84,4.761905,1.5920,7.7
998,65.82,1,3.2910,69.1110,65.82,4.761905,3.2910,4.1
999,88.34,7,30.9190,649.2990,618.38,4.761905,30.9190,6.6

In [ ]:
# Menghitung jumlah (sum) pada tiap kolom
# Mengatur sehingga hanya ada 2 angka di belakang koma
DataSum1 = df_clean1.sum().apply(lambda x: "{:.2f}".format(x))
DataSum1

Unit price                  55672.13
Quantity                     5510.00
Tax 5%                      15379.37
Total                      322966.75
cogs                       307587.38
gross margin percentage      4761.90
gross income                15379.37
Rating                       6972.70
dtype: object

In [ ]:
# Menghitung rata-rata (mean) pada tiap kolom
# Mengatur sehingga hanya ada 2 angka di belakang koma
DataMean1 = df_clean1.mean().apply(lambda x: "{:.2f}".format(x))
DataMean1

Unit price                  55.67
Quantity                     5.51
Tax 5%                      15.38
Total                      322.97
cogs                       307.59
gross margin percentage      4.76
gross income                15.38
Rating                       6.97
dtype: object

In [ ]:
# Menghitung nilai tengah (median) pada tiap kolom
# Mengatur sehingga hanya ada 2 angka di belakang koma
DataMedian1 = df_clean1.median().apply(lambda x: "{:.2f}".format(x))
DataMedian1

Unit price                  55.23
Quantity                     5.00
Tax 5%                      12.09
Total                      253.85
cogs                       241.76
gross margin percentage      4.76
gross income                12.09
Rating                       7.00
dtype: object

Data .txt

In [ ]:
# Load Data .txt
url = "https://raw.githubusercontent.com/TheresiaTriOktavia/PDT/main/Life_Expectancy_Data.txt"
df2 = pd.read_csv(url)
df2

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263,62,0.01,71.279624,65,1154,...,6,8.16,65,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271,64,0.01,73.523582,62,492,...,58,8.18,62,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268,66,0.01,73.219243,64,430,...,62,8.13,64,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272,69,0.01,78.184215,67,2787,...,67,8.52,67,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275,71,0.01,7.097109,68,3013,...,68,7.87,68,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1644,Zimbabwe,2004,Developing,44.3,723,27,4.36,0.000000,68,31,...,67,7.13,65,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
1645,Zimbabwe,2003,Developing,44.5,715,26,4.06,0.000000,7,998,...,7,6.52,68,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
1646,Zimbabwe,2002,Developing,44.8,73,25,4.43,0.000000,73,304,...,73,6.53,71,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
1647,Zimbabwe,2001,Developing,45.3,686,25,1.72,0.000000,76,529,...,76,6.16,75,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
1648,Zimbabwe,2000,Developing,46.0,665,24,1.68,0.000000,79,1483,...,78,7.10,78,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [ ]:
# Melihat informasi data (adakah data yang null dan tipe data pada tiap kolom)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1649 entries, 0 to 1648
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          1649 non-null   object
 1   Year                             1649 non-null   int64
 2   Status                           1649 non-null   object
 3   Life expectancy                  1649 non-null   float64
 4   Adult Mortality                  1649 non-null   int64
 5   infant deaths                    1649 non-null   int64
 6   Alcohol                          1649 non-null   float64
 7   percentage expenditure           1649 non-null   float64
 8   Hepatitis B                      1649 non-null   int64
 9   Measles                          1649 non-null   int64
 10   BMI                             1649 non-null   float64
 11  under-five deaths                1649 non-null   int64
 12  Polio                            1649 non-null   int64
 13  Total expenditure                1649 non-null   float64
 14  Diphtheria                       1649 non-null   int64
 15   HIV/AIDS                        1649 non-null   float64
 16  GDP                              1649 non-null   float64
 17  Population                       1649 non-null   float64
 18   thinness  1-19 years            1649 non-null   float64
 19   thinness 5-9 years              1649 non-null   float64
 20  Income composition of resources  1649 non-null   float64
 21  Schooling                        1649 non-null   float64
dtypes: float64(12), int64(8), object(2)
memory usage: 283.5+ KB

In [ ]:
# Menghapus kolom non numerik
df_clean2 = df2.drop(["Country", "Status"], axis=1)
df_clean2

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,2015,65.0,263,62,0.01,71.279624,65,1154,19.1,83,6,8.16,65,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,2014,59.9,271,64,0.01,73.523582,62,492,18.6,86,58,8.18,62,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,2013,59.9,268,66,0.01,73.219243,64,430,18.1,89,62,8.13,64,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,2012,59.5,272,69,0.01,78.184215,67,2787,17.6,93,67,8.52,67,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,2011,59.2,275,71,0.01,7.097109,68,3013,17.2,97,68,7.87,68,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1644,2004,44.3,723,27,4.36,0.000000,68,31,27.1,42,67,7.13,65,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
1645,2003,44.5,715,26,4.06,0.000000,7,998,26.7,41,7,6.52,68,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
1646,2002,44.8,73,25,4.43,0.000000,73,304,26.3,40,73,6.53,71,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
1647,2001,45.3,686,25,1.72,0.000000,76,529,25.9,39,76,6.16,75,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
1648,2000,46.0,665,24,1.68,0.000000,79,1483,25.5,39,78,7.10,78,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [ ]:
# Menghitung jumlah (sum) pada tiap kolom
# Mengatur sehingga hanya ada 2 angka di belakang koma
DataSum2 = df_clean2.sum().apply(lambda x: "{:.2f}".format(x))
DataSum2

Year                                   3310929.00
Life expectancy                         114279.50
Adult Mortality                         277387.00
infant deaths                            53680.00
Alcohol                                   7475.24
percentage expenditure                 1152607.40
Hepatitis B                             130630.00
Measles                                3668191.00
 BMI                                     62874.10
under-five deaths                        72919.00
Polio                                   137798.00
Total expenditure                         9821.32
Diphtheria                              138772.00
 HIV/AIDS                                 3271.40
GDP                                    9178386.58
Population                         24163829091.76
 thinness  1-19 years                     7998.70
 thinness 5-9 years                       8092.90
Income composition of resources           1041.43
Schooling                                19985.70
dtype: object

In [ ]:
# Menghitung rata-rata (mean) pada tiap kolom
# Mengatur sehingga hanya ada 2 angka di belakang koma
DataMean2 = df_clean2.mean().apply(lambda x: "{:.2f}".format(x))
DataMean2

Year                                   2007.84
Life expectancy                          69.30
Adult Mortality                         168.22
infant deaths                            32.55
Alcohol                                   4.53
percentage expenditure                  698.97
Hepatitis B                              79.22
Measles                                2224.49
 BMI                                     38.13
under-five deaths                        44.22
Polio                                    83.56
Total expenditure                         5.96
Diphtheria                               84.16
 HIV/AIDS                                 1.98
GDP                                    5566.03
Population                         14653625.89
 thinness  1-19 years                     4.85
 thinness 5-9 years                       4.91
Income composition of resources           0.63
Schooling                                12.12
dtype: object

In [ ]:
# Menghitung nilai tengah (median) pada tiap kolom
# Mengatur sehingga hanya ada 2 angka di belakang koma
DataMedian2 = df_clean2.median().apply(lambda x: "{:.2f}".format(x))
DataMedian2

Year                                  2008.00
Life expectancy                         71.70
Adult Mortality                        148.00
infant deaths                            3.00
Alcohol                                  3.79
percentage expenditure                 145.10
Hepatitis B                             89.00
Measles                                 15.00
 BMI                                    43.70
under-five deaths                        4.00
Polio                                   93.00
Total expenditure                        5.84
Diphtheria                              92.00
 HIV/AIDS                                0.10
GDP                                   1592.57
Population                         1419631.00
 thinness  1-19 years                    3.00
 thinness 5-9 years                      3.20
Income composition of resources          0.67
Schooling                               12.30
dtype: object

# No 2

In [ ]:
# Load Data
url = "https://raw.githubusercontent.com/TheresiaTriOktavia/PDT/main/Data_Kursi_Bioskop.csv"
df3 = pd.read_csv(url)
df3.set_index('No Kursi', inplace=True)
df3

    No Kursi Keterangan
0          1     Terisi
1          2     Terisi
2          3     Terisi
3          4     Kosong
4          5     Kosong
5          6     Kosong
6          7     Kosong
7          8     Kosong
8          9     Kosong
9         10     Terisi
10        11     Kosong
11        12     Kosong
12        13     Terisi
13        14     Kosong
14        15     Kosong
15        16     Terisi
16        17     Terisi
17        18     Terisi
18        19     Terisi
19        20     Terisi
20        21     Terisi
21        22     Kosong
22        23     Terisi
23        24     Terisi
24        25     Terisi
25        26     Terisi
26        27     Kosong
27        28     Kosong
28        29     Kosong
29        30     Kosong

In [ ]:
import pandas as pd

def isi_kursi(df3, nomor_kursi):
    if df3.at[nomor_kursi, 'Keterangan'] == 'Kosong':
        df3.at[nomor_kursi, 'Keterangan'] = 'Terisi'
        print(f"Kursi nomor {nomor_kursi} telah berhasil diisi.\n")
    else:
        print(f"Maaf, kursi nomor {nomor_kursi} sudah terisi.\n")

def kosongkan_kursi(df3, nomor_kursi):
    if df3.at[nomor_kursi, 'Keterangan'] == 'Terisi':
        df3.at[nomor_kursi, 'Keterangan'] = 'Kosong'
        print(f"Kursi nomor {nomor_kursi} telah berhasil dikosongkan.\n")
    else:
        print(f"Maaf, kursi nomor {nomor_kursi} sudah kosong.\n")

def display_data(df3):
    print("Data Kursi Bioskop:\n")
    print(df3)


# Loop untuk mengisi atau mengosongkan kursi
while True:
    print("\nSilakan pilih menu:")
    print("1. Isi kursi")
    print("2. Kosongkan kursi")
    print("3. Tampilkan data kursi")
    print("4. Keluar")
    pilihan = input("Masukkan pilihan menu: ")

    if pilihan == '1':
        print("Silakan masukkan nomor kursi yang ingin Anda isi:")
        nomor_kursi = int(input())
        if nomor_kursi in df3.index:
            isi_kursi(df3, nomor_kursi)
        else:
            print("Nomor kursi tidak valid. Silakan coba lagi.")

    elif pilihan == '2':
        print("Silakan masukkan nomor kursi yang ingin Anda kosongkan:")
        nomor_kursi = int(input())
        if nomor_kursi in df3.index:
            kosongkan_kursi(df3, nomor_kursi)
        else:
            print("Nomor kursi tidak valid. Silakan coba lagi.")

    elif pilihan == '3':
        display_data(df3)

    elif pilihan == '4':
        print("Terima kasih. Program selesai.")
        break

    else:
        print("Pilihan tidak valid. Silakan pilih menu yang tersedia.")