<a href="https://colab.research.google.com/github/TheresiaTriOktavia/PDT/blob/main/Colab/UTS_PDT_(AB).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Kelompok

Anggota
- Annisa Citra Pratiwi (22170510
- Atikah Oktaria (2217051035)
- Nazwa Sophia Nadine Effendi (22170510
- Theresia Tri Oktavia I (2217051111)

# No 1

In [ ]:
# Load Data .txt
url = "https://raw.githubusercontent.com/TheresiaTriOktavia/PDT/main/Life_Expectancy_Data.txt"
df2 = pd.read_csv(url)
df2

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263,62,0.01,71.279624,65,1154,...,6,8.16,65,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271,64,0.01,73.523582,62,492,...,58,8.18,62,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268,66,0.01,73.219243,64,430,...,62,8.13,64,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272,69,0.01,78.184215,67,2787,...,67,8.52,67,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275,71,0.01,7.097109,68,3013,...,68,7.87,68,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1644,Zimbabwe,2004,Developing,44.3,723,27,4.36,0.000000,68,31,...,67,7.13,65,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
1645,Zimbabwe,2003,Developing,44.5,715,26,4.06,0.000000,7,998,...,7,6.52,68,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
1646,Zimbabwe,2002,Developing,44.8,73,25,4.43,0.000000,73,304,...,73,6.53,71,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
1647,Zimbabwe,2001,Developing,45.3,686,25,1.72,0.000000,76,529,...,76,6.16,75,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
1648,Zimbabwe,2000,Developing,46.0,665,24,1.68,0.000000,79,1483,...,78,7.10,78,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [ ]:
# Melihat informasi data (adakah data yang null dan tipe data pada tiap kolom)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1649 entries, 0 to 1648
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          1649 non-null   object
 1   Year                             1649 non-null   int64
 2   Status                           1649 non-null   object
 3   Life expectancy                  1649 non-null   float64
 4   Adult Mortality                  1649 non-null   int64
 5   infant deaths                    1649 non-null   int64
 6   Alcohol                          1649 non-null   float64
 7   percentage expenditure           1649 non-null   float64
 8   Hepatitis B                      1649 non-null   int64
 9   Measles                          1649 non-null   int64
 10   BMI                             1649 non-null   float64
 11  under-five deaths                1649 non-null   int64
 12  Polio                            1649 non-null   int64
 13  Total expenditure                1649 non-null   float64
 14  Diphtheria                       1649 non-null   int64
 15   HIV/AIDS                        1649 non-null   float64
 16  GDP                              1649 non-null   float64
 17  Population                       1649 non-null   float64
 18   thinness  1-19 years            1649 non-null   float64
 19   thinness 5-9 years              1649 non-null   float64
 20  Income composition of resources  1649 non-null   float64
 21  Schooling                        1649 non-null   float64
dtypes: float64(12), int64(8), object(2)
memory usage: 283.5+ KB

In [ ]:
# Menghapus kolom non numerik
df_clean2 = df2.drop(["Country", "Status"], axis=1)
df_clean2

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,2015,65.0,263,62,0.01,71.279624,65,1154,19.1,83,6,8.16,65,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,2014,59.9,271,64,0.01,73.523582,62,492,18.6,86,58,8.18,62,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,2013,59.9,268,66,0.01,73.219243,64,430,18.1,89,62,8.13,64,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,2012,59.5,272,69,0.01,78.184215,67,2787,17.6,93,67,8.52,67,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,2011,59.2,275,71,0.01,7.097109,68,3013,17.2,97,68,7.87,68,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1644,2004,44.3,723,27,4.36,0.000000,68,31,27.1,42,67,7.13,65,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
1645,2003,44.5,715,26,4.06,0.000000,7,998,26.7,41,7,6.52,68,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
1646,2002,44.8,73,25,4.43,0.000000,73,304,26.3,40,73,6.53,71,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
1647,2001,45.3,686,25,1.72,0.000000,76,529,25.9,39,76,6.16,75,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
1648,2000,46.0,665,24,1.68,0.000000,79,1483,25.5,39,78,7.10,78,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [ ]:
# Menghitung jumlah (sum) pada tiap kolom
# Mengatur sehingga hanya ada 2 angka di belakang koma
DataSum2 = df_clean2.sum().apply(lambda x: "{:.2f}".format(x))
DataSum2

Year                                   3310929.00
Life expectancy                         114279.50
Adult Mortality                         277387.00
infant deaths                            53680.00
Alcohol                                   7475.24
percentage expenditure                 1152607.40
Hepatitis B                             130630.00
Measles                                3668191.00
 BMI                                     62874.10
under-five deaths                        72919.00
Polio                                   137798.00
Total expenditure                         9821.32
Diphtheria                              138772.00
 HIV/AIDS                                 3271.40
GDP                                    9178386.58
Population                         24163829091.76
 thinness  1-19 years                     7998.70
 thinness 5-9 years                       8092.90
Income composition of resources           1041.43
Schooling                                19985.70
dtype: object

In [ ]:
# Menghitung rata-rata (mean) pada tiap kolom
# Mengatur sehingga hanya ada 2 angka di belakang koma
DataMean2 = df_clean2.mean().apply(lambda x: "{:.2f}".format(x))
DataMean2

Year                                   2007.84
Life expectancy                          69.30
Adult Mortality                         168.22
infant deaths                            32.55
Alcohol                                   4.53
percentage expenditure                  698.97
Hepatitis B                              79.22
Measles                                2224.49
 BMI                                     38.13
under-five deaths                        44.22
Polio                                    83.56
Total expenditure                         5.96
Diphtheria                               84.16
 HIV/AIDS                                 1.98
GDP                                    5566.03
Population                         14653625.89
 thinness  1-19 years                     4.85
 thinness 5-9 years                       4.91
Income composition of resources           0.63
Schooling                                12.12
dtype: object

In [ ]:
# Menghitung nilai tengah (median) pada tiap kolom
# Mengatur sehingga hanya ada 2 angka di belakang koma
DataMedian2 = df_clean2.median().apply(lambda x: "{:.2f}".format(x))
DataMedian2

Year                                  2008.00
Life expectancy                         71.70
Adult Mortality                        148.00
infant deaths                            3.00
Alcohol                                  3.79
percentage expenditure                 145.10
Hepatitis B                             89.00
Measles                                 15.00
 BMI                                    43.70
under-five deaths                        4.00
Polio                                   93.00
Total expenditure                        5.84
Diphtheria                              92.00
 HIV/AIDS                                0.10
GDP                                   1592.57
Population                         1419631.00
 thinness  1-19 years                    3.00
 thinness 5-9 years                      3.20
Income composition of resources          0.67
Schooling                               12.30
dtype: object

In [ ]:
# Load Data
url = "https://raw.githubusercontent.com/TheresiaTriOktavia/PDT/main/Data_Kursi_Bioskop.csv"
df3 = pd.read_csv(url)
df3

    No Kursi Keterangan
0          1     Terisi
1          2     Terisi
2          3     Terisi
3          4     Kosong
4          5     Kosong
5          6     Kosong
6          7     Kosong
7          8     Kosong
8          9     Kosong
9         10     Terisi
10        11     Kosong
11        12     Kosong
12        13     Terisi
13        14     Kosong
14        15     Kosong
15        16     Terisi
16        17     Terisi
17        18     Terisi
18        19     Terisi
19        20     Terisi
20        21     Terisi
21        22     Kosong
22        23     Terisi
23        24     Terisi
24        25     Terisi
25        26     Terisi
26        27     Kosong
27        28     Kosong
28        29     Kosong
29        30     Kosong